@media only screen and (max-width: 850px) {
    header {
        padding: 5px 0px 5px 0px;
    }

    .navigator h1 {
        font-size: 2.6rem;
    }

    .navigator ul {
        padding: 0px 10px 0px 80px;
    }

    .navigator ul li a {
        font-size: 1rem;
        display: flex;
        text-align: center;
        margin: 0px;
        letter-spacing: 0.02rem;
        padding: 10px 10px;
    }

    .jump {
        height: 44%;
        min-width: 55px;
    }
    .jump ul li {
        padding: 10px 0px 10px 10px;
    }

    .mainContainer {
        background-position: 35% 5%;
    }

    .mainContainer .divider {
        line-height: 35px;
    }

    .mainContainer .text {
        font-size: 3rem;
        margin: 50px 0px 0px 15px;
    }

    .mainContainer .name {
        line-height: 40px;
        font-size: 2.2rem;
        width: 50%;
        text-align: end;
        margin-left: 10px;
    }

    .btn1 {
        padding: 12px 20px;
        margin: 50px 0px 0px 25px;
    }

    .aboutMe .container {
        display: flex;
        flex-direction: column;
    }

    .aboutMe .pic {
        width: 88%;
    }

    .aboutMe .ctext {
        padding-left: 0px;
        width: 100%;
    }

    h2 {
        padding-left: 10px;
        font-size: 2.4rem;
    }
    h4 {
        padding: 10px 0px 0px 20px;
        font-size: 1.3rem;
    }

    .aboutMe .ctext p {
        padding: 30px 15px 0px 20px;
        font-size: 1.5rem;
    }

    .hobbyNdSoftSkills .grid .box {
        padding: 0px 20px;
        height: 95px;
    }

    .foot {
        padding: 22px 0px;
    }

    .foot .text {
        font-size: 1.5rem;
        margin: 0px 24px;
    }

    .foot .mail a {
        padding: 10px 7px;
        margin-right: 12px;
    }
    .foot .mail a:hover {
        background-color: var(--pink);
        font-size: 1rem;
        padding: 12px 8px;
    }

    .foot .icons i {
        font-size: 0.8rem;
        padding: 10px;
    }

    .call .font {
        padding: 12px;
    }

    .end {
        padding: 15px;
    }
}
