/* 
    Summer Hacks
    SOA Code Room
    Project Template
    Use this template: https://github.com/SOACodeRoom/summerhacks-projectName/generate
    style.css: You will write your css code for your portfolio website here. You can add other css files too but it must be under "css" folder.

*/

:root {
    --pink: #e9204f;
    --bgblack: #1b1b1b;
    --bggrey: #f3f3f3;
    --fontgrey: #747474;
    --gridbox: #ebecf0;
    --gridtext: #62687e;
}

@font-face {
    font-family: f1;
    src: url(../assets/font/LobsterTwo-Italic.ttf);
}
@font-face {
    font-family: f2;
    src: url(../assets/font/AveriaSerifLibre-Regular.ttf);
}
@font-face {
    font-family: f3;
    src: url(../assets/font/Playball-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gridbox);
}

.bgimg {
    background-image: url(../assets/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: 50% 60%;
}

h2 {
    font-size: 2.8rem;
    font-family: f2;
    letter-spacing: 0.1rem;
    margin-top: 40px;
    padding-left: 20px;
}

h4 {
    color: var(--pink);
    font-family: f1;
    padding: 20px 0px 0px 20px;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
}

.topcontent {
    max-width: 1200px;
    margin: auto;
}

/* Header */

header .head {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

header .intro {
    color: var(--pink);
    font-family: f2;
    font-size: 2rem;
}

header .team {
    color: gold;
    font-family: f1;
    font-size: 3.5rem;
    margin-top: 20px;
}

header .teamName {
    color: var(--pink);
    font-family: f3;
    font-size: 5rem;
    margin-top: 30px;
}

header .teamName .logo{
    height: 70px;
    width: 70px;
}

/* Article > aboutMe */

.aboutMe {
    padding-top: 100px;
}
.aboutMe .container {
    display: flex;
    position: relative;
}

.aboutMe .container .divider3 {
    font-size: 4.5em;
    color: var(--pink);
    line-height: 0px;
    margin-bottom: 20px;
    position: absolute;
    left: -22px;
}

.aboutMe .container .divider {
    font-size: 4.5em;
    color: var(--pink);
    line-height: 0px;
    margin-bottom: 40px;
}

.aboutMe .container .pic {
    width: 40%;
    padding-left: 20px;
    border-left: 3px solid var(--pink);
}

.aboutMe .container .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    color: var(--gridtext);
    margin-top: 50px;
    /* box-shadow: -10px -10px 10px rgb(212, 212, 212), 10px 10px 10px #a6aab6; */
    box-shadow: -10px -10px 10px #710a58, 10px 10px 10px #b60a75;
}

.aboutMe .container .ctext {
    padding-left: 60px;
    width: 60%;
    text-align: center;
    margin: 50px 0px 0px 30px
}

.aboutMe .container .ctext .logoName {
    height: 50px;
    width: 50px;
}

.aboutMe .container .ctext p {
    font-family: f2;
    color: var(--fontgrey);
    font-size: 1.6rem;
    line-height: 35px;
    padding: 40px 15px 0px 0px;
}

.aboutMe .container .iconBox {
    margin: 20px 0px 0px 20px;
}

.aboutMe .container .iconBox a {
    text-decoration: none;
}

.aboutMe .container .iconBox .icons i {
    color: black;
    font-size: 1.2rem;
    border: 2px solid var(--pink);
    border-radius: 40px;
    padding: 12px;
    margin: 3px;
    transition: all 0.2s ease-in-out;
}

.aboutMe .container .iconBox .icons i:hover {
    transform: translateY(-10px) scale(1.2);
    color: var(--pink);
}

.aboutMe .container .divider2 {
    font-size: 4.5em;
    color: var(--pink);
}

.aboutMe .container .btn1 {
    font-family: f1;
    background-color: var(--bgblack);
    border: 2px solid var(--pink);
    padding: 20px 0px;
}
.aboutMe .container .btn1 a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 01.5px;
    transition: all 0.3s ease-in;
    padding: 20px 34px;
}
.aboutMe .container .btn1:hover {
    cursor: pointer;
    color: var(--pink);
}

.divider4 {
    margin-top: 30px;
    text-align: center;
    font-size: 4.5rem;
    color: var(--pink);
}


/* Footer > call */

.call .font {
    text-align: center;
    padding: 40px 30px;
    background-color: #161616;
    color: white;
    font-size: 1.5rem;
    font-family: f1;
    letter-spacing: 0.1rem;
    margin-top: 90px;
}
.call .fa {
    font-size: 3rem;
    padding: 10px;
}

/* Footer > end */

.end {
    background-color: black;
    color: white;
    font-family: f1;
    padding: 30px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.04rem;
}

.end span {
    font-size: 1.2rem;
    font-family: f3;
    padding-left: 10px;
}

