/* 
    Summer Hacks
    SOA Code Room
    Project Template
    Use this template: https://github.com/SOACodeRoom/summerhacks-projectName/generate
    style.css: You will write your css code for your portfolio website here. You can add other css files too but it must be under "css" folder.

*/

:root {
    --theme5_1: #31326f;
    --theme5_2: #ffc93c;
    --theme5_3: #dbf6e9;
    --theme5_4: #9ddfd3;
}

@font-face {
    font-family: f1;
    src: url(../assets/font/LobsterTwo-Italic.ttf);
}
@font-face {
    font-family: f2;
    src: url(../assets/font/AveriaSerifLibre-Regular.ttf);
}
@font-face {
    font-family: f3;
    src: url(../assets/font/Playball-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.bgimg {
    background-image: url(../assets/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: 50% 60%;
}

h2 {
    font-size: 2.8rem;
    font-family: f2;
    letter-spacing: 0.1rem;
    margin-top: 40px;
    padding-left: 20px;
}

h4 {
    color: var(--theme5_4);
    font-family: f1;
    padding: 20px 0px 0px 20px;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
}

.topcontent {
    max-width: 1200px;
    margin: auto;
}

/* Header */

header {
    background-color: rgba(49, 50, 111, 0.4);
}

header .head {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
    /* z-index: 1; */
}

header .intro {
    color: var(--theme5_4);
    font-family: f2;
    font-size: 2rem;
}

header .team {
    color: gold;
    font-family: f2;
    font-size: 3.5rem;
    margin-top: 20px;
}

header .teamName {
    color: var(--theme5_3);
    font-family: f2;
    font-size: 5rem;
    margin-top: 30px;
}

header .teamName .logo {
    height: 70px;
    width: 70px;
}

/* Article > aboutMe */

.aboutMe {
    padding-top: 100px;
}
.aboutMe .container {
    display: flex;
    position: relative;
}

.aboutMe .container .divider3 {
    font-size: 4.5em;
    color: var(--theme5_4);
    line-height: 0px;
    margin-bottom: 20px;
    position: absolute;
    left: -22px;
}

.aboutMe .container .divider {
    font-size: 4.5em;
    color: var(--theme5_4);
    line-height: 0px;
    margin-bottom: 40px;
}

.aboutMe .container .pic {
    width: 40%;
    padding-left: 20px;
    border-left: 3px solid var(--theme5_4);
}

.aboutMe .container .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: -10px -10px 10px #710a58, 10px 10px 10px #b60a75;
}

.aboutMe .container .ctext {
    padding-left: 60px;
    width: 60%;
    text-align: center;
    margin: 50px 0px 0px 30px;
}

.aboutMe .container .ctext .logoName {
    height: 50px;
    width: 50px;
}

.aboutMe .container .ctext p {
    font-family: f2;
    color: var(--theme5_3);
    font-size: 1.6rem;
    line-height: 35px;
    padding: 40px 15px 0px 0px;
}

.aboutMe .container .iconBox {
    margin: 20px 0px 0px 20px;
}

.aboutMe .container .iconBox a {
    text-decoration: none;
}

.aboutMe .container .iconBox .icons i {
    color: var(--theme5_2);
    font-size: 1.2rem;
    border: 2px solid var(--theme5_1);
    border-radius: 40px;
    padding: 12px;
    margin: 3px;
    transition: all 0.2s ease-in-out;
}

.aboutMe .container .iconBox .icons i:hover {
    transform: translateY(-10px) scale(1.2);
    color: var(--theme5_4);
}

.aboutMe .container .divider2 {
    font-size: 4.5em;
    color: var(--theme5_4);
}

.aboutMe .container .btn1 {
    font-family: f1;
    background-color: rgba(90, 90, 90, 0.4);
    border: 2px solid var(--theme5_1);
    padding: 20px 0px;
}

.aboutMe .container .btn1:hover {
    transform: translateY(-2px) scale(1.1);
    background-color: var(--theme5_1);
    transition: all 0.3s ease-in-out;
}
.aboutMe .container .btn1 a {
    text-decoration: none;
    color: var(--theme5_2);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 01.5px;
    transition: all 0.3s ease-in;
    padding: 20px 34px;
}
.aboutMe .container .btn1:hover {
    cursor: pointer;
    color: var(--theme5_4);
}

.divider4 {
    margin-top: 30px;
    text-align: center;
    font-size: 4.5rem;
    color: var(--theme5_4);
}

/* Footer > call */

.call .font {
    text-align: center;
    padding: 40px 30px;
    background-color: var(--theme5_1);
    color: var(--theme5_4);
    font-size: 1.5rem;
    font-family: f1;
    letter-spacing: 0.1rem;
    margin-top: 90px;
}
.call .fa {
    font-size: 3rem;
    padding: 10px;
}

/* Footer > end */

.end {
    background-color: #161616;
    color: var(--theme5_4);
    font-family: f1;
    padding: 30px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.04rem;
}

.end span {
    font-size: 1.6rem;
    font-family: f2;
    padding-left: 10px;
}
