:root {
    --pink: #e9204f;
    --bgblack: #1b1b1b;
    --bggrey: #f3f3f3;
    --fontgrey: #747474;
    --gridbox: #ebecf0;
    --gridtext: #62687e;
}

@font-face {
    font-family: f1;
    src: url(../assets/font/LobsterTwo-Italic.ttf);
}
@font-face {
    font-family: f2;
    src: url(../assets/font/AveriaSerifLibre-Regular.ttf);
}
@font-face {
    font-family: f3;
    src: url(../assets/font/Playball-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gridbox);
}

h2 {
    font-size: 2.8rem;
    font-family: f1;
    letter-spacing: 0.1rem;
    margin-top: 40px;
    padding-left: 20px;
}

h4 {
    color: var(--pink);
    font-family: f1;
    padding: 20px 0px 0px 20px;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
}

/* Left & Right Margin */

.topcontent {
    max-width: 1200px;
    margin: auto;
}

.topcontent .divider {
    font-size: 4.5em;
    color: var(--pink);
    padding-left: 20px;
}

/* Header and Navigation */

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px 0px 28px 0px;
}
.navigator {
    max-width: 1200px;
    margin: auto;
    color: var(--gridbox);
}

.navigator h1 {
    font-size: 3rem;
    font-family: f1;
    padding-left: 10px;
    letter-spacing: 0.15rem;
}

.navigator ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navigator ul li a {
    color: var(--gridbox);
    font-size: 1.2rem;
    font-family: f1;
    padding: 10px 0px;
    margin: 0px 20px;
    letter-spacing: 0.04rem;
    transition: all 0.3s ease-in;
}

.navigator ul li a:hover {
    cursor: pointer;
    color: var(--pink);
}

/* nav > jump */

.jump {
    position: fixed;
    height: 40%;
    min-width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jump ul{
    background-color: var(--bgblack);
    border-radius: 0px 30px 30px 0px;
}

.jump ul li {
    list-style: none;
    padding: 10px 0px 10px 20px;
}

.jump ul li a {
    color: var(--gridbox);
    font-size: 30px;
    transition: all 0.1s ease-in;
}


.jump li a:hover{
    color: white;
    cursor: pointer;
    font-size: 40px;
  
}

#logo{
    box-shadow: none;
    height: 30px;
    width: 30px;
}

#logo:hover{
    transition: all 0.1s ease-in-out;
    height: 40px;
    width: 40px;
}
/* Article > mainContainer */

.mainContainer {
    background-color: black;
    width: 100%;
    padding-top: 130px;
    background-image: url(../assets/images/bg-2.png);
    background-position: 49% 45%;
    background-repeat: no-repeat;
    background-size: 1280px auto;
}

.mainContainer .divider {
    font-size: 4.5em;
    color: var(--pink);
}

.mainContainer .text {
    font-family: f1;
    font-size: 4rem;
    margin: 55px 0px 0px 20px;
}

.mainContainer .name {
    font-family: f1;
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
    margin-left: 20px;
    font-weight: 600;
}

.btn1 {
    font-family: f1;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid var(--pink);
    padding: 17px 34px;
    margin: 50px 0px 0px 20px;
}
.btn1 span {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 01.5px;
    transition: all 0.3s ease-in;
}
.btn1:hover {
    cursor: pointer;
    color: var(--pink);
}

.groupbox {
    margin-top: 145px;
    padding: 0px 20px;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.groupbox .box {
    color: white;
    background-color: var(--bgblack);
    height: 380px;
    padding: 40px 40px 0px 40px;
    border-radius: 10px;
}

.groupbox .box i {
    color: var(--pink);
    font-size: 3rem;
    margin-top: 25px;
}
.groupbox .box h1 {
    font-family: f1;
    font-size: 1.8rem;
    margin-top: 60px;
    letter-spacing: 2px;
    font-weight: bold;
}
.groupbox .box h5 {
    color: var(--pink);
    font-size: 2rem;
    margin-top: -27px;
}
.groupbox .box p {
    font-family: f2;
    margin-top: 25px;
    line-height: 25px;
    font-size: 1.1rem;
}

/* Article > aboutMe */

.aboutMe {
    padding-top: 100px;
}
.aboutMe .container {
    display: flex;
}
.aboutMe .pic {
    width: 40%;
    padding-left: 20px;
}
.aboutMe .ctext {
    padding-left: 60px;
    width: 60%;
}
.aboutMe .ctext p {
    font-family: f2;
    color: var(--fontgrey);
    font-size: 1.6rem;
    line-height: 35px;
    padding: 70px 15px 0px 0px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    color: var(--gridtext);
    box-shadow: -10px -10px 10px rgb(212, 212, 212), 10px 10px 10px #a6aab6;
}

/* Article > hobbyNdSoftSkills */

.hobbyNdSoftSkills .grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 50px;
    padding: 0px 20px;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.hobbyNdSoftSkills .grid .box {
    display: flex;
    align-items: center;

    background-color: var(--bggrey);
    padding: 0px 20px;
    height: 101px;
    font-size: 1.6rem;
    font-family: f2;
    border-radius: 10px;
    color: var(--gridtext);
    background-color: var(--gridbox);
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
}
.hobbyNdSoftSkills .grid .box .fa {
    font-size: 2rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.hobbyNdSoftSkills .grid .box:hover .fa {
    font-size: 3rem;
    opacity: 1;
    padding-right: 20px;
}
.hobbyNdSoftSkills .grid .box:hover {
    background-color: var(--pink);
    color: var(--gridbox);
}

/* Footer */

/* Footer > foot */

.foot {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    background-color: var(--bgblack);
    padding: 120px 35px;
    margin-top: 50px;
}
.foot .icons {
    width: 33.33%;
    text-align: center;
}

.foot a {
    text-decoration: none;
}

.foot .icons i {
    color: white;
    border: 2px solid var(--pink);
    border-radius: 40px;
    padding: 12px;
    margin: 3px;
    transition: all 0.2s ease-in-out;
}

.foot .icons i:hover {
    transform: translateY(-10px) scale(1.2);
    color: var(--pink);
}

.foot .text {
    width: 33.33%;
    font-size: 2.5rem;
    font-family: f1;
    margin: 0px;
    letter-spacing: 0.1rem;
}

.foot .mail {
    width: 33%;
    text-align: center;
}

.foot .mail a {
    font-family: f2;
    color: white;
    background-color: var(--bgblack);
    border: 2px solid var(--pink);
    padding: 17px 34px;
    letter-spacing: 0.02rem;
    transition: all 0.2s ease-in-out;
}

.foot .mail a:hover {
    background-color: var(--pink);
    font-size: 1.2rem;
    padding: 16px 26px;
}

/* Footer > call */

.call .font {
    text-align: center;
    padding: 40px 30px;
    background-color: #161616;
    color: white;
    font-size: 1.5rem;
    font-family: f1;
    letter-spacing: 0.1rem;
}
.call .fa {
    font-size: 3rem;
    padding: 10px;
}

/* Footer > end */

.end {
    background-color: black;
    color: white;
    font-family: f1;
    padding: 30px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.04rem;
}

.end span {
    font-size: 1.2rem;
    font-family: f3;
    padding-left: 10px;
}
